<%- include('layout/admin') %>



<div class="col-sm-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h1>Money</h1>
    </div>
    <div class="icon">
      <i class="ion ion-cash"></i>
    </div>
    <a href="/admin/event" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-sm-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner">
      <h1>Clothes</h1>
    </div>
    <div class="icon">
      <i class="ion ion-tshirt"></i>
    </div>
    <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-sm-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">

      <h1>Book</h1>
    </div>
    <div class="icon">
      <i class="ion ion-ios-book"></i>
    </div>
    <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-sm-4 col-xs-6">
  <!-- small box -->

  <div class="small-box bg-red">
    <div class="inner">
<h1>Food</h1>
    </div>
    <div class="icon">
      <i class="ion ion-pizza"></i>
    </div>
    <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<div class="col-sm-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">

      <h1>Medicine</h1>
    </div>
    <div class="icon">
      <i class="ion ion-ios-medical"></i>
    </div>
    <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<div class="col-sm-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-purple">
    <div class="inner">

      <h1>Utilities</h1>
    </div>
    <div class="icon">
      <i class="ion ion-cube"></i>
    </div>
    <a href="#" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
</div>

<!-- /.row -->
<!-- Main row -->

<div class="row">





<%- include('layout/footer') %>
