<%- include('header') %>
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="CoordinatorDashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>D</b>ngo</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Donngo</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->

              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>

          <!-- Tasks: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->

          <!-- Control Sidebar Toggle Button -->
          <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->

            <li >
                <a href="#" data-toggle="modal" data-target="#modal-logout" > <i class="fa fa-sign-out"></i>logout</a>

          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="modal fade" id="modal-logout">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Logout</h4>
              </div>
              <div class="modal-body">
                <p>Do you want to logout ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <a href="/admin/logout">   <button type="button" class="btn btn-primary">Logout</button></a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
          <li class="header text-center" style="font-size:14px;color:#3c8dbc"><i class="fa fa-user"></i> <span>Hi, <%= admin.email %></span></li>
        <!-- <li class="header text-center "style="font-size:14px;color:#3c8dbc"><i class="fa fa-envelope"></i><span> <%= admin.email %></span></li> -->
        <li>
          <a href="/admin">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              <span class="pull-right-container">

            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Profile</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/profile"><i class="fa fa-circle-o"></i> View</a></li>
            <li><a href="/admin/Update"><i class="fa fa-circle-o"></i> Update</a></li>

          </ul>
        </li>
        <li >
          <a href="/admin/ngo_details">
            <i class="fa fa-users"></i>
            <span>NGO Details</span>
            <!-- <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span> -->
          </a>

        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Donations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/food"><i class="fa fa-circle-o"></i> Food</a></li>
            <li><a href="/admin/clothes"><i class="fa fa-circle-o"></i> Clothes</a></li>
            <li><a href="/admin/money"><i class="fa fa-circle-o"></i> Money</a></li>
            <li><a href="/admin/book"><i class="fa fa-circle-o"></i> Book</a></li>
            <li><a href="/admin/medicine"><i class="fa fa-circle-o"></i> Medicine</a></li>
            <li><a href="/admin/utilities"><i class="fa fa-circle-o"></i> Utilities</a></li>
          </ul>
        <li >
          <a href="#">
            <i class="fa fa-users"></i> <span>Volunteer</span>
          </a>

        </li>
        <li>
                  <a href="#">
                    <i class="fa fa-th"></i> <span>Notification</span>
                    <span class="pull-right-container">
                      <small class="label pull-right bg-green">new</small>
                    </span>
                  </a>
                </li>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <h1></h1>

                <!-- Left col -->

      <!-- /.row (main row) -->
